---
layout: page
title: "Members"
description: "In the memory of our friends who are not among us right now"
---
<hr>

{% for member in site.data.members %}
  <div class="row">
    <div class="col-md-4">
      <img src="{{ member.avatar }}" alt="{{member.name}} avatar" class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <h1>{{ member.name }}</h1>

      {% for social in member.socials %}
        <a href="{{social[1]}}"><i class="fa fa-{{social[0]}}" aria-hidden="true"></i></a>
      {% endfor %}
      {% if member.url %}
        <a href="{{member.url}}"><i class="fa fa-user" aria-hidden="true"></i></a>
      {% endif %}

      <br>

      {% if member.bio %}
        {{ member.bio }}
      {% endif %}

      <br>

      {% if member.socials.github %}
        <a class="github-button" href="{{member.socials.github}}" aria-label="Follow {{member.name}} on GitHub">Follow {{member.name}}</a>
      {% endif %}
    </div>
  </div>
  <hr>
{% endfor %}
