<!-- begin container -->
<div class="container" data-animation="true" data-animation-type="fadeInDown">
  <h2 class="content-title">About I1820</h2>
  <p class="content-desc">
    I1820 is IoT Platform that can manage many topics for you from things to projects and from raw data to information.
    It adopts a new vision for data management.
    In I1820 you have two choices, one is to create your codecs based on python to encode and decode your data or another is to use native models.
    In I1820 models refer to the way you want to encode and decode your data and we provide some native models based on our ideas.
  </p>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-4 -->
    <div class="col-md-6">
      <!-- begin about -->
      <div class="about">
        <h3>I1820 Story</h3>
        <p>
          This project had been started as a python REST library for Kaa but after the project grew,
          we decided to complete it as the standalone platform.
        </p>
        <p>
          In the beginning, we use <a href="https://github.com/eljalalpour/SDN101">SDN101</a> project as a good example of python REST API client.
          SDN101 is a great memory for Parham Alvani good old days.
        </p>
        <p>
          When 18.20 decide to leave us alone, we created an improved version of it,
          in this version we provide everything you need in a simple package and the journey started here.
        </p>
        <p>
          I1820 first was used in <a href="http://aolab.github.io/">Aolab</a> but after Aolab closed, it continues its life as the standalone project. After almost 1 year and many experiences,
          the new architecture is here. mainly new needs and considerations are based on <a href="http://isrc.ac.ir/">ISRC</a> platform project.
      </div>
      <!-- end about -->
    </div>
    <!-- end col-4 -->
    <!-- begin col-4 -->
    <div class="col-md-6">
      <h3>Our Philosophy</h3>
      <!-- begin about-author -->
      <div class="about-author">
        <div class="quote bg-silver text-center">
          <i class='fa fa-quote-left'></i><h3>In the memory of our friends,<br /><span>who are not among us right now</span></h3><i class='fa fa-quote-right'></i>
        </div>
        <div class="author">
          <div class="image">
            <img src="https://github.com/1995parham.png" alt="Parham Alvani" />
          </div>
          <div class="info">
            Parham Alvani
            <small>The father of I1820</small>
          </div>
        </div>
      </div>
      <!-- end about-author -->
    </div>
    <!-- end col-4 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
