<footer class="navbar navbar-inverse bg-inverse" role="navigation">
	<div class="container">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="https://github.com/I1820" target="_blank">Available on Github</a></li>
		</ul>
		<p style="width: 400px; font-size: small;" class="navbar-text navbar-right">
		<a class="navbar-link" href="https://github.com/AoLab/">@AoLab</a>,
		<a class="navbar-link" href="http://ceit.aut.ac.ir/">Computer Engineering & Information Technology Department</a>,
		<a class="navbar-link" href="http://www.aut.ac.ir/">Amirkabir University of Technology</a>,
		424 Hafez Ave, Tehran, Iran, 15875-4413.
		</p>
	</div>
</footer>
