<footer class="navbar navbar-inverse bg-inverse" role="navigation">
	<div class="container">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="https://github.com/I1820" target="_blank">Available on Github</a></li>
		</ul>
    <p class="navbar-text">
    <small>
    <a href="https://github.com/AoLab/">@AoLab</a>,
    <a href="http://ceit.aut.ac.ir/">Computer Engineering & Information Technology Department</a>,
    <a href="http://www.aut.ac.ir/">Amirkabir University of Technology</a>,
    424 Hafoz Ave, Tehran, Iran, 15875-4413.
    </small>
		</p>
	</div>
</footer>
