<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="//aolab.github.io">AoLab</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
      {% for p in site.pages reversed %}
        <li class="nav-item">
          <a class="nav-link {% if p.url == page.url %}active{% endif %}" href="{{p.url}}">{{p.title}}</a>
        </li>
      {% endfor %}
			<li class="nav-item">
				<a class="nav-link" href="presentation">Presentation</a>
			</li>
		</ul>
	</div>
</nav>
