<!-- begin #home -->
<app-home id="home"></app-home>
<!-- end #home -->
<!-- begin #about -->
<app-about id="about"></app-about>
<!-- end #about -->
<!-- begin #quote -->
<app-quote id="quote"></app-quote>
<!-- end #quote -->
<!-- begin #team -->
<app-team id="team"></app-team>
<!-- end #team -->
<!-- begin #client -->
<app-client id="client"></app-client>
<!-- end #client -->
<!-- begin #contact -->
<app-contact id="contact"></app-contact>
<!-- end #contact -->
<!-- begin #footer -->
<app-footer id="footer"></app-footer>
<!-- end #footer -->
