<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="{{'/css/reveal.css' | relative_url}}">
<link rel="stylesheet" href="{{'/css/theme/default.css' | relative_url | replace: 'default',page.theme}}" id="theme">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relative_url }}">

<!-- Icons -->
<link rel="shortcut icon" href="{{ '/img/logo.png' | relative_url }}">

<!-- jQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- If the query includes 'print-pdf', include the PDF print sheet -->
<script>
if( window.location.search.match( /print-pdf/gi ) ) {
  var link = document.createElement( 'link' );
  link.rel = 'stylesheet';
  link.type = 'text/css';
  link.href = '{{"/css/print/pdf.css" | prepend: site.baseurl}}';
  document.getElementsByTagName( 'head' )[0].appendChild( link );
}
</script>

<!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

<!-- Pygments Github CSS -->
<link rel="stylesheet" href="{{ '/css/syntax.css' | relative_url }}">

{% include analytics.html %}

</head>

<body>
{% include nav.html %}
<div class="reveal">
  <div class="slides">
    {{ content }}
  </div>
</div>

<script src="{{'/js/reveal.js' | relative_url }}"></script>

<script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
  controls: true,
  progress: true,
  history: true,
  center: true
});
</script>
</body>
</html>
