<!-- begin container -->
<div class="container">
  <h2 class="content-title">Contact Us</h2>
  <p class="content-desc">
    I1820 is an open-source organization and does not have a physical location.
    Do not hasitate to contact me about I1820 and its usage.
  </p>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-md-6 animated slow fadeInLeft">
      <p>
        <br />
        <strong>Parham Alvani</strong>
        <br />
        <a href="tel:+989390909540">+98 (939) 09 09 540</a>
        <br />
        <a href="mailto:parham.alvani@gmail.com">parham.alvani&#64;gmail.com</a>
        <br />
        <img
          src="assets/img/logo/1995parham.png"
          class="img-thumbnail rounded"
          id="parham"
        />
      </p>
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
    <div class="col-md-6 animated slow fadeInRight">
      <img src="assets/img/bg/bg-contact.jpg" class="img-thumbnail rounded" />
      <a
        style="
          background-color: black;
          color: white;
          text-decoration: none;
          padding: 4px 6px;
          font-family: -apple-system, BlinkMacSystemFont,
            &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica,
            Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.2;
          display: inline-block;
          border-radius: 3px;
        "
        href="https://unsplash.com/@mhrnsamani?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
        target="_blank"
        rel="noopener noreferrer"
        title="Download free do whatever you want high-resolution photos from Mehran Samani"
        ><span style="display: inline-block; padding: 2px 3px"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            style="
              height: 12px;
              width: auto;
              position: relative;
              vertical-align: middle;
              top: -2px;
              fill: white;
            "
            viewBox="0 0 32 32"
          >
            <title>unsplash-logo</title>
            <path
              d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"
            ></path></svg></span
        ><span style="display: inline-block; padding: 2px 3px"
          >Mehran Samani</span
        ></a
      >
    </div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
