<!-- begin container -->
<div class="container">
  <h2 class="content-title">Contact Us</h2>
  <p class="content-desc">
    I1820 is an open-source organization and does not have a physical location.
  </p>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-md-6 animated slow delay-2 fadeInLeft">
      <h3>
        Do not hasitate to contact me about I1820 and its usage.
      </h3>
      <p>
        <strong>Parham Alvani</strong>
        <br>
        <a href="tel:+989390909540">+98 (939) 09 09 540</a>
        <br>
        <a href="mailto:parham.alvani@gmail.com">parham.alvani@gmail.com</a>
      </p>
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
    <div class="col-md-6 animated slow delay-2s fadeInRight">
    </div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
